{% extends 'base1.html.twig' %}


{% block body %}



<h1 class="text-secondary text-center container-fluid pt-4 px-4">Update List</h1>


    
                 {{form(f)}}

             </table> </div>







{% endblock %}