{% extends 'base1.html.twig' %}
{% block body %}

<table>
  <tr>
    <th>Type</th>

  </tr>
  {% for i in recst %}
    <tr>
      <td>{{i.nomT}}&nbsp;&nbsp;</td>

      <style>
  .add-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
</style>

      <td>
      <button class="add-button"><a href="{{ path('updateRT',{'id': i.id})}}">Update</a> &nbsp;</button></td>
<td>
    <a class="btn btn-danger" href="{{ path('confirm_delete', {'id': i.id}) }}">Delete</a>
</td>
    </tr>
  {% endfor %}
</table>
      <button class="add-button"><a href="{{ path('addRT')}}">Add a new type</a> &nbsp;</button></td>

{% endblock %}